
<div class="app" style="display: flex;justify-content: space-between;">
  <div [ngStyle]="getStyles()">
    <ng-container *ngFor="let i of numbers">
      <div *ngIf="i==coloured_cell" style="background-color: blue;border: 2px solid black;"></div>
      <div *ngIf="i!=coloured_cell" style="background-color: grey;border: 2px solid black;"></div>
    </ng-container>
  </div>

  <app-grid (coloured_cellChange)="setCell($event)" (colsChange)="setCol($event)" (rowsChange)="setRow($event)" [coloured_cell]="coloured_cell" [rows]="rows" [cols]="cols"></app-grid>
</div>